%section.settings.no-animate.expanded.cluster-health-graphs#cluster-health
  %h4= s_('ClusterIntegration|Cluster health')

  - if @cluster&.application_prometheus_available?
    #prometheus-graphs{ data: { "settings-path": edit_project_service_path(@project, 'prometheus'),
      "clusters-path": project_clusters_path(@project),
      "documentation-path": help_page_path('administration/monitoring/prometheus/index.md'),
      "empty-getting-started-svg-path": image_path('illustrations/monitoring/getting_started.svg'),
      "empty-loading-svg-path": image_path('illustrations/monitoring/loading.svg'),
      "empty-no-data-svg-path": image_path('illustrations/monitoring/no_data.svg'),
      "empty-unable-to-connect-svg-path": image_path('illustrations/monitoring/unable_to_connect.svg'),
      "metrics-endpoint": metrics_namespace_project_cluster_path( format: :json ),
      "project-path": project_path(@project),
      "tags-path": project_tags_path(@project) } }

  - else
    %p.settings-message.text-center= s_("ClusterIntegration|In order to view the health of your cluster, you must first install Prometheus below.")
